@import 'variables';
//@import '~bootstrap/scss/bootstrap';
@import 'bootstrap';
@import '~material-icons';

body {
    font-size: .9rem;
    font-family: Verdana, Arial;
    font-weight: 200;
    color: #666;
}
th {
    text-transform: uppercase;
}

#tooltip {
    position: absolute;
    width: 500px;
    height: 400px;
    padding: 10px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #00a;
    border-radius: 10px;
    z-index: 1000;
    display: none;

    table {
        &.tblInfo {
            tr {
                td,th {
                    color: #00a;
                    max-width: 230px;
                }
            }
        }
    }
}
.tblItems {
    tr:hover {
        cursor: pointer;
        background-color: #00a !important;
        td {
            color: #fff !important;
        }
    }
}
.form-group {
    select {
//        max-width: 300px;
    }
    .form-link-wrapper {
        display: flex;
        flex-flow: column nowrap;
        a {
            margin-top: 0.2rem;
            display: inline-flex;
        }
    }
}
a {
    .btn {
        line-height: 1;
        border: 1px solid red;
    }
}
.selected {
    color: #fff;
}
